
html {font-family: lato;
  text-align: center;
  background-color: black;
}

a {color: rgb(208,28,49);
}

p {font-size: 18px;}

h1 {font-weight: lighter;
  font-size: 54px;
  color: #ffffff;
}

h2 {font-size: 43px;
font-weight: 200;
color: #ffffff;
}

h3 {font-size: 22px;
  color: gray;
}

.footer {text-align: right;
color: #ffffff;
}
